@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: map-get(variables.$primaryColors, lightGrayishBlue);
  height: auto;
  li {
    list-style: none;
  }
}

main {
  max-width: 95%;
  @include variables.flex(column, center, center);
  margin: auto;
  padding: 1rem 0;
  
  @media screen and (min-width: 768px) {
    max-width: 60%;
  }
}

ul {
  @include variables.flex(column, center, center);
  margin: 1rem 0;
  width: 100%;
}

li {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.5rem;
  margin: .5rem 0;
}

.comment {
  background-color: map-get(variables.$neutralColors, white);
  margin: .5rem 0;
  padding: 1rem 1rem 5rem 1rem;
  border-radius: 0.5rem;
  position: relative;
}



.comment > .vote {
  display: flex;
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: map-get(variables.$primaryColors, lightGrayishBlue);
  @include variables.position-absolute("", 1rem);
  align-items: center;
  justify-content: center;
  color: map-get(variables.$primaryColors, moderateBlue);

  button {
    font-weight: 700;
    border: none;
    background: none;
    margin: 0 1rem;
    color: map-get(variables.$neutralColors, grayishBlue);
  }

  p {
    font-weight: 700;
    font-size: 1.6rem;
  }
}


.comment > .commentContainer {
  display: flex;
  flex-direction: column;
  color: map-get(variables.$neutralColors, grayishBlue);
  font-size: 1.6rem;
}

.comment > .commentContainer > .commentHeader {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  b {
    color: map-get(variables.$neutralColors, darkBlue);
    margin: 0 1rem;
  }

  p {
    color: map-get(variables.$neutralColors, grayishBlue);
  }
}

.comment > .commentContainer > .commentHeader > :nth-child(1) {
  display: flex;
}

.comment > .commentContainer > .commentHeader > :nth-child(2) {
  @include variables.position-absolute(0.5rem, 1rem);
  display: flex;
  p {
    margin: 0 1rem;
    font-weight: 700;
    color: map-get(variables.$primaryColors, moderateBlue);
  }
}

form {
  background-color: white;
  width: 100%;
  @include variables.flex(column, "", "");
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;

  input {
    display: flex;
    outline: none;
    border: 1px gray solid;
    min-height: 6rem;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

form > fieldset {
  @include variables.flex("", "", space-between);
  margin: 0.5rem 0;
  border: none;

  button {
    background-color: map-get(variables.$primaryColors, moderateBlue);
    color: white;
    border: none;
    width: 10rem;
    border-radius: 0.5rem;
  }
}

.repliedComments {
  @include variables.flex(column, center, center);
  margin: 1rem 0 0 5%;
  max-width: 95%;
}

.repliedComments > li {
  background-color: map-get(variables.$neutralColors, white);
  margin: 1rem 0;
  padding: 1rem 1rem 5rem 1rem;
  border-radius: 0.5rem;
}


.repliedComments > li > .vote {
  display: flex;
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: map-get(variables.$primaryColors, lightGrayishBlue);
  @include variables.position-absolute("", 1rem);
  align-items: center;
  justify-content: center;
  color: map-get(variables.$primaryColors, moderateBlue);

  button {
    font-weight: 700;
    border: none;
    background: none;
    margin: 0 1rem;
    color: map-get(variables.$neutralColors, grayishBlue);
  }

  p {
    font-weight: 700;
    font-size: 1.6rem;
  }
}

.repliedComments > li > .commentContainer {
  display: flex;
  flex-direction: column;
  color: map-get(variables.$neutralColors, grayishBlue);
  font-size: 1.6rem;
}

.repliedComments > li > .commentContainer > .commentHeader {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  
  b {
    color: map-get(variables.$neutralColors, darkBlue);
    margin: 0 1rem;
  }
  
  p {
    color: map-get(variables.$neutralColors, grayishBlue);
  }
}

.repliedComments > li > .commentContainer > .commentHeader > :nth-child(1) {
  display: flex;
}

.repliedComments > li > .commentContainer > .commentHeader > :nth-child(2) {
  @include variables.position-absolute(0.5rem, 1rem);
  display: flex;
  p {
    margin: 0 1rem;
    font-weight: 700;
    color: map-get(variables.$primaryColors, moderateBlue);
  }
}


.autorComment > .commentContainer .reply {
  display: flex;
  @include variables.position-absolute(1rem, 1rem);

  p {
    margin: 0 .5rem;
  }
}




















.hidden {
  display: none;
}

footer {
  max-width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    max-width: 60%;
  }
}

/*modal*/
.modal {
  position: fixed;
  background-color: rgba(185, 185, 185, .6);
  overflow: auto;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 95%;
  border-radius: .5rem;

  font-size: 2rem;

  h3 {
    color: gray;
  }

  p {
    color: gray;
    margin: 2rem 0;
  }

  button {
    padding: 1rem;
    border-radius: .5rem;
    border: none;

    color: white;
    text-transform: uppercase;
  }



  .modalCancel{
    background-color: gray;
  }

  .modalDelete {
    background-color: red;
  }
}
