@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: map-get(variables.$primaryColors, lightGrayishBlue);
  li {
    list-style: none;
  }
}

main {
  max-width: 95%;
  @include variables.flex(column,center,center);
  margin: auto;
  padding: 1rem 0;

  @media screen and (min-width: 768px) {
    max-width: 60%;
  }
}

ul {
  @include variables.flex(column,center,center);
  margin: 1rem 0;
}

li {
  display: flex;
  position: relative;
  background-color: map-get(variables.$neutralColors, white);
  padding: 1rem 1rem 5rem 1rem;
  border-radius: 0.5rem;
}

ul > li > :nth-child(1) {
  display: flex;
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: map-get(variables.$primaryColors, lightGrayishBlue);
  @include variables.position-absolute("", 1rem);
  align-items: center;
  justify-content: center;
  color: map-get(variables.$primaryColors, moderateBlue);

  button {
    font-weight: 700;
    border: none;
    background: none;
    margin: 0 1rem;
    color: map-get(variables.$neutralColors, grayishBlue);
  }

  p {
    font-weight: 700;
    font-size: 1.6rem;
  }
}

ul > li > :nth-child(2) {
  display: flex;
  flex-direction: column;
  color: map-get(variables.$neutralColors, grayishBlue);
  font-size: 1.6rem;
}

ul > li > :nth-child(2) > :nth-child(1) {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  b {
    color: map-get(variables.$neutralColors, darkBlue);
    margin: 0 1rem;
  }

  p {
    color: map-get(variables.$neutralColors, grayishBlue);
  }
}

ul > li > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  display: flex;
}

ul > li > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  @include variables.position-absolute(0.5rem, 1rem);
  display: flex;
  p {
    margin: 0 1rem;
    font-weight: 700;
    color: map-get(variables.$primaryColors, moderateBlue);
  }
}



form {
  background-color: white;
  width: 100%;
  @include variables.flex(column,"",""); 
  padding: 1rem;
  margin: 1rem 0;
  border-radius: .5rem;

  input {
    display: flex;
    outline: none;
    border: 1px gray solid;
    min-height: 6rem;
    margin: .5rem 0;
    padding: 1rem;
    border-radius: .5rem;
  }
}

form > fieldset{
  @include variables.flex("","",space-between);
  margin: .5rem 0;
  border: none;

  button {
    background-color: map-get(variables.$primaryColors, moderateBlue);
    color: white; 
    border: none;
    width: 10rem;
    border-radius: .5rem;
  }
}





ol {
  @include variables.flex(column,center,center);
  margin: 1rem 0 0 5%;
  max-width: 95%;
}



li {
  display: flex;
  position: relative;
  background-color: map-get(variables.$neutralColors, white);
  padding: 1rem 1rem 5rem 1rem;
  border-radius: 0.5rem;
}

ol > li > :nth-child(1) {
  display: flex;
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: map-get(variables.$primaryColors, lightGrayishBlue);
  @include variables.position-absolute("", 1rem);
  align-items: center;
  justify-content: center;
  color: map-get(variables.$primaryColors, moderateBlue);

  button {
    font-weight: 700;
    border: none;
    background: none;
    margin: 0 1rem;
    color: map-get(variables.$neutralColors, grayishBlue);
  }

  p {
    font-weight: 700;
    font-size: 1.6rem;
  }
}

ol > li > :nth-child(2) {
  display: flex;
  flex-direction: column;
  color: map-get(variables.$neutralColors, grayishBlue);
  font-size: 1.6rem;
}

ol > li > :nth-child(2) > :nth-child(1) {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  b {
    color: map-get(variables.$neutralColors, darkBlue);
    margin: 0 1rem;
  }

  p {
    color: map-get(variables.$neutralColors, grayishBlue);
  }
}

ol > li > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  display: flex;
}

ol > li > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  @include variables.position-absolute(0.5rem, 1rem);
  display: flex;
  p {
    margin: 0 1rem;
    font-weight: 700;
    color: map-get(variables.$primaryColors, moderateBlue);
  }
}

.replied-comment {
  display: flex;
  justify-content: space-between;
}

.replied-comment > div {
    min-height: 100%;
    width: 3px;
    background-color: gray;
}

.hidden {
  display: none;
}

footer {
  max-width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    max-width: 60%;    
  }
}